@font-face {
    font-family: "Lemon";
    font-weight: 400;
    src: local("Lemon"),
        url(~/assets/fonts/Lemon-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Philosopher";
    font-weight: 700;
    src: local("Philosopher"),
        url(~/assets/fonts/Philosopher-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Philosopher";
    font-weight: 400;
    src: local("Philosopher"),
        url(~/assets/fonts/Philosopher-Regular.ttf) format("truetype");
}

$main-font: 'Lemon';
$secondary-font: 'Philosopher';